asgiref==3.8.1
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.1.6
et_xmlfile==2.0.0
idna==3.10
mysql-connector-python==9.2.0
openpyxl==3.1.5
pillow==11.1.0
PyMySQL==1.1.1
pytz==2025.2
qrcode==8.0
reportlab==4.3.1
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.4.0
xhtml2pdf
gunicorn

